%div
  %label Hostname:
  %input(type="text" id="mq_monitor_hostname" )
%div
  %label Channel:
  %input(type="text" id="mq_monitor_channel" )
%div
  %label Request Queue:
  %input(type="text" id="mq_monitor_request_queue" )
%div
  %label Username:
  %input(type="text" id="mq_monitor_username" )
%div
  %label Password:
  %input(type="password" id="mq_monitor_password" )
%div
  %label Send Message:
  %textarea.long(id="mq_monitor_request" name="mq_monitor_request" )
%div
  %label Response Queue:
  %input(type="text" id="mq_monitor_response_queue" )
%div
  %label Receive Message:
  %textarea.long(id="mq_monitor_response" name="mq_monitor_response" )