%div
  %label REST URL:
  %input(type="url" id="rest_monitor_url" )
%div
  %label Payload:
  %textarea.long(id="rest_monitor_payload" name="rest_monitor_payload" )
%div
  %label Expect response:
  %textarea.long(id="rest_monitor_response" name="rest_monitor_response" )