%div
  %label Endpoint:
  %input(type="url" name="soap_monitor_endpoint" id="soap_monitor_endpoint" )
%div
  %label Username:
  %input(type="text" name="soap_monitor_username" id="soap_monitor_username" )
%div
  %label Password:
  %input(type="password" name="soap_monitor_password" id="soap_monitor_password" )
%div
  %label Validate Request:
  %textarea.long(id="soap_monitor_request" name="soap_monitor_request" )
%div
  %label Expect response:
  %textarea.long(id="soap_monitor_response" name="soap_monitor_response" )