.modal.add-monitor
  .dialog
    %header
      %h3 Add Monitor
      %span.close &times;
    .body
      %form(id='add_monitor_form')
        %div
          %label Service Type:
          %select.type(id="service_type_select")
            - service_types.each do |service_type|
              %option #{service_type}
        %div
          %label Group:
          %select(id="group_select")
            - groups.each do |group|
              %option #{group.name}
        %div
          %label Title:
          %input(type="text" id="monitor_title" )
        %div
          %label Description:
          %textarea(id="monitor_description")
        .monitor-section.add-url
          %div
            %label URL:
            %input(type="url" id="url_monitor_url" )
        .monitor-section.add-database
          = partial :'layouts/db_monitor', locals:{db_types:db_types}
        .monitor-section.add-soap
          = partial :'layouts/soap_monitor'
        .monitor-section.add-rest
          %div
            %label REST URL:
            %input(type="url" id="rest_monitor_url" )
    %footer
      %button.submit Add
.modal.add-group
  .dialog
    %header
      %h3 Add Group
      %span.close &times;
    .body
      %form(method="post" action="/groups" id="add_group_form" )
        %div
          %label Region Name:
          %input(type="text" name="group_name" )
    %footer
      %button.submit(onclick="submit_form('add_group_form')") Add