
.modal.monitor-url
  .dialog
    %header
      %h3(id="modal_header_url_monitor_name")
      %span.close &times;
    .body
      %div
        %label Title:
        %p.with-show(id="modal_url_monitor_name_show")
        %input.with-edit(id="modal_url_monitor_name_edit")
      %div
        %label Description:
        %p.with-show(id="modal_url_monitor_description_show")
        %textarea.with-edit(id="modal_url_monitor_description_edit")
      %div
        %label URL:
        %label.with-show(id="modal_url_monitor_url_show")
        %input.with-edit(type="text" id="modal_url_monitor_url_edit")
      %div
        %label Status:
        %label(id="modal_url_monitor_status")
    %footer
      %button.delete(id="modal_url_monitor_delete") Delete
      %button.edit Edit
      %button.show Show
.modal.monitor-database
  .dialog
    %header
      %h3 Build env MySQL
      %span.close &times;
    .body
      %div
        %label Description:
        %p MySQL database of Build environment
      %div
        %label Database Type:
        %label MySQL
      %div
        %label Database URL:
        %label mysql://build.internal/build
      %div
        %label Status:
        %label Disabled
    %footer
      %button.delete Delete
.modal.monitor-rest
  .dialog
    %header
      %h3 Github REST
      %span.close &times;
    .body
      %div
        %label Description:
        %p Github REST Service
      %div
        %label REST URL:
        %label https://api.github.com/v2
      %div
        %label Status:
        %label Failed
    %footer
      %button.delete Delete
.modal.monitor-soap
  .dialog
    %header
      %h3(id="modal_header_soap_monitor_name")
      %span.close &times;
    .body
      %div
        %label Title:
        %p(id="modal_soap_monitor_name_show")
        %input.with-edit(type="text" id="modal_soap_monitor_name_edit")
      %div
        %label Description:
        %p(id="modal_soap_monitor_description_show")
        %textarea.with-edit(id="modal_soap_monitor_description_edit")
      %div
        %label Endpoint:
        %label.with-show(id="modal_soap_monitor_endpoint_show")
        %input.with-edit(type="text" id="modal_soap_monitor_endpoint_edit")
      %div
        %label Username:
        %p(id="modal_soap_monitor_username_show")
        %input.with-edit(type="text" id="modal_soap_monitor_username_edit")
      %div
        %label Password:
        %p(id="modal_soap_monitor_password_show")
        %input.with-edit(type="password" id="modal_soap_monitor_password_edit")
      %div
        %label Validate Request:
        %p(id="modal_soap_monitor_request_show")
        %textarea.with-edit(id="modal_soap_monitor_request_edit")
      %div
        %label Expect Response:
        %p(id="modal_soap_monitor_response_show")
        %textarea.with-edit(id="modal_soap_monitor_response_edit")
      %div
        %label Status:
        %label(id="modal_soap_monitor_status")
    %footer
      %button.delete(id="modal_soap_monitor_delete") Delete
