%div(id="logo" class="row" )
  %div(class="container" )
    %h1 Enterprise Dependency Dashboard
    %p Monitor all the dependencies in your project.
%hr
%div(id="button_group" class="row" )
  %div(class="col-xs-12 col-md-12 text-right" )
    %a(class="btn btn-primary" href="#add_monitor" data-toggle="modal" )Add Monitor
    %a(class="btn btn-info" href="#add_group" data-toggle="modal" )Add Group
%hr
- if @groups !=nil
  %div(id="groups" class="row" )
    %div(class="panel-group" )
      - @groups.each do |group|
        %div(class="panel panel-info" )
          %div(class="panel-heading" ) #{group.name}
          %div(class="panel-body" ) Content
        %br

%div(class="modal fade" id="add_monitor" )
  %div(class="modal-dialog" )
    %div(class="modal-content" )
      %div(class="modal-header" )
        %a(class="close" data-dismiss="modal") &times;
        %h3 Add Monitor
      %div(class="modal-body" )
        %div
          %label(class="col-xs-4 control-label" )Service Type:
          %div(class="col-xs-8" )
      %div(class="modal-footer" )
        %a(class="btn btn-primary"  href=""  data-dismiss="modal" )Add

%div(class="modal fade" id="add_group" )
  %div(class="modal-dialog" )
    %div(class="modal-content" )
      %div(class="modal-header" )
        %a(class="close" data-dismiss="modal") &times;
        %h3 Add Group
      %div(class="modal-body" )
        %form(class="form-horizontal" id="add_group_form" role="form" method="post" action="/group" )
          %div(class="form-group" )
            %label(class="col-xs-4 control-label" ) Group Name:
            %div(class="col-xs-8" )
              %input(type="text" class="form-control" name="group_name" id="group_name" )

      %div(class="modal-footer" )
        %a(class="btn btn-primary"  onclick="submit_form('add_group_form')"  data-dismiss="modal" )Add
